@mixin rounded($radius: 0.5em) {
  @each $vendor in $vendors {
    #{$vendor}border-radius: $radius;
  }
}

@mixin box-shadow($top, $left, $blur, $spread, $color, $inset: false) {
  @if $inset {
    @each $vendor in $vendors {
      #{$vendor}box-shadow: inset $top $left $blur $spread $color;
    }
  } @else {
    @each $vendor in $vendors {
      #{$vendor}box-shadow: $top $left $blur $spread $color;
    }
  }
}

@mixin divIcon($Url, $wid: 2.5rem, $heit: 2.5rem, $brdrRadius: 10px) {
  background-image: url($Url);
  width: $wid;
  height: $heit;
  border-radius: $brdrRadius $brdrRadius $brdrRadius $brdrRadius;
  background-size: contain;
  background-color: $primaryHex;
}
%liCard {
  li {
    padding-top: 1rem;
    width: 15%;
    padding: 0 3rem;
    @include box-shadow(2px, 2px, 2px, 0px, lightgray);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    list-style: none;
    header {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      .icon {
        width: 100%;
        @include divIcon("../Materials/Lab/img/icon/f-icon-1.png");
      }
      h2 {
        font-size: 1.5rem;
      }
    }
    .body {
      p {
        font-size: 0.9rem;
        color: rgb(212, 173, 173);
        font-weight: 500;
      }
    }
  }
}
// @mixin
@mixin linear-gradient($direction, $from, $to) {
  background: -webkit-linear-gradient($direction, $from 0%, $to 100%);
  background: -moz-linear-gradient($direction, $from 0%, $to 100%);
  background: -o-linear-gradient($direction, $from 0%, $to 100%);
  background: linear-gradient($direction, $from 0%, $to 100%);
}

@mixin radial-gradient($from, $to) {
  background: -moz-radial-gradient(center, circle cover, $from 0%, $to 100%);
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, $from),
    color-stop(100%, $to)
  );
  background: -webkit-radial-gradient(center, circle cover, $from 0%, $to 100%);
  background: -o-radial-gradient(center, circle cover, $from 0%, $to 100%);
  background: -ms-radial-gradient(center, circle cover, $from 0%, $to 100%);
  background: radial-gradient(center, circle cover, $from 0%, $to 100%);
  background-color: $from;
}

@mixin background-image(
  $filePath,
  $bgXpos: 0,
  $bgYpos: 0,
  $bgReapeat: no-repeat,
  $bgSize: cover,
  $bgAttachment: fixed
) {
  background-image: url($filePath);
  background-position: $bgXpos $bgYpos;
  background-repeat: $bgReapeat;
  background-size: $bgSize;
  background-attachment: $bgAttachment;
}
@mixin centerVertically() {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@mixin centerHorizontally {
  display: flex;
  justify-content: center;
}
@mixin background-color($background-color) {
  background-color: $background-color;
}

@mixin bgOpacityColor($color: #000, $value: 0.5) {
  $start: "rgb(";
  $end: ")";
  background: #{$start} red($color), green($color), blue($color) #{$end};
  background: rgba($color, $value);
}

@mixin typoStyle($font, $size: 14px, $weight: 400) {
  font-family: $font;
  font-size: $size;
  font-weight: $weight;
  line-height: $size * 1.618;
}

%regularRoboto {
  @include typoStyle($robotoFont, 16px, 400);
}
%mediumRoboto {
  @include typoStyle($robotoFont, 20px, 500);
}
%regularOpenSans {
  @include typoStyle($openSansFont, 16px, 400);
}
%mediumOpenSans {
  @include typoStyle($openSansFont, 20px, 600);
}

%radialGradientBG {
  @include radial-gradient($gradientStartColor, $gradientEndColor);
}

%appStoresBtn {
  position: relative;
  display: inline-block;
  color: $primaryHex;
  min-width: 170px;
  text-align: left;
  line-height: 1;
  @include background-color($white);
  @include rounded(2rem);
  @include box-shadow(5px, 4.5px, 9.5px, 0, lighten($black, 73%));
  margin: 0.25rem;
  padding: 0.3rem 2.5rem;
  small {
    font-size: 0.75rem;
  }
  span {
    font-weight: 500;
  }
  .svg-inline--fa {
    position: absolute;
    top: calc(50% - 0.75rem);
    left: 0.75rem;
    font-size: 1.4rem;

    &.fa-apple {
      top: calc(50% - 0.9rem);
      font-size: 1.6rem;
    }
  }

  &:hover {
    cursor: pointer;
    @include background-color($primaryDarkHex);
    color: $white;
  }
}

.text-primary {
  color: $primaryHex !important;
}
